<div class="w-full mx-auto mb-4 flex justify-between items-center">
    <span>
      <input type="text" value="" class="input-ca input-ca-ba" placeholder="Buscar.." id="searchAlmVal" oninput="changeSearchedAlmVal(event)">
      <span  class="b-top-page" onclick="cleanAlmValSearch()"> 🧹 </span>
    </span>
    <h1 class="text-xl text-center">Comparación de albaranes</h1>
    <span>Desde</span><span><input type="date" id="inputDateAIVS" onchange="changedDateAIVS()"></span>
    <span>Hasta</span><span><input type="date" id="inputDateHastaAIVS" onchange="changedDateHastaAIVS()"></span>
    <span> </span> <span> </span> <span> </span>
</div>
<div class="flex flex-col gap-2 text-sm w-full">
    <div>
        <table class="w-ful styled-table-fh stycky-table">
            <thead>
                <tr class="twcolor">
                    <th class="topLeft">Fecha</th>
                    <th>D. Ext.</th>
                    <th>D. Int.</th>
                    <th>€ 98</th>
                    <th>€ Ent.+ Gast.</th>
                    <th>Prov. 98</th>

                    <th>D. Int. Alm.</th>
                    <th>€ Entr.</th>
                    <th>Prov.</th>

                    <th>D. Int. Gast.</th>
                    <th>€ Gast.</th>   
                    <th class="topRight">Prov. Gast.</th>
                </tr>
            </thead>
            <tbody id="tableIVR"></tbody>
        </table>
    </div>
</div>

<div id="divIVR" class="flex flex-col gap-2 text-sm w-full rounded-md">
    <div class="bg-white p-2 border ">Cargando el contenido..</div>
</div>
