<div class="w-full mx-auto mb-4 flex justify-between items-center">
    <span></span>
    <h1 class="text-xl text-center">Gestión de artículos informe manto</h1>
    <span></span>
</div>

<div class="flex flex-col gap-2 text-sm w-full">
    <div>
        <table>
            <thead>
                <tr class="twcolor">
                    <th class="topLeft px-2">Artículo</th>
                    <th class="topRight px-2">Acción</th>
                </tr>
            </thead>
            <tbody id="tableCIGA">
                
            </tbody>
        </table>
    </div>
</div>
<style>
    th{
        margin-left: 11px;
        padding-right: 11px;
    }
</style>