<div class="w-full mx-auto mb-4 flex justify-between items-center">
    <span> </span>
    <h1 class="text-xl text-center">Plantillas de inspecciones calidad</h1>
    <span> </span>
</div>
<div class="flex flex-col gap-2 text-sm w-full">
    <div>
        <table>
            <thead>
                <tr class="twcolor">
                    <th class="topLeft px-2">Fecha</th>
                    <th>Nombre</th>
                    <th>Archivo</th>
                    <th class="topRight px-2">Borrar</th>
                </tr>
            </thead>
            <tbody id="familiaCPLF"><tr>
                    <td class="border px-2 py-1 text-left hovered" onclick="openTableViewCPLF(24)">Fecha</td>
                    <td class="border px-2 py-1 text-center hovered" onclick="famCPLFPress(24, 'BIVALVOS')">✏️ Nombre</td>
                    <td class="border px-2 py-1 text-center hovered" onclick="openFormNewArtCPLF(24, 'BIVALVOS')">➕ </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- ✏️ ➕ 🗑️ Acción
<div class="flex flex-col gap-2 text-sm w-full">
    <div>
        <table class="w-full styled-table-fh stycky-table">
            <thead>
                <tr class="twcolor">
                    <th class="topLeft">Fecha</th>
                    <th>Nombre</th>
                    <th>Archivo</th>
                    <th class="topRight">Archivo</th>
                </tr>
            </thead>
            <tbody id="tableMSC"></tbody>
        </table>
    </div>
</div>
-->