<div class="w-full mx-auto mb-4 flex justify-between items-center">
    <span> </span> <span> </span>
    <h1 class="text-xl text-center">Rotativo Salidas Elaboracion</h1>
    <span>Hasta <input type="date" id="date_to_RSE" onchange="change_date_RSE(event)"></span>
    <span></span>
</div>
<div class="flex flex-col gap-2 text-sm w-full">
    <div>
        <table class="w-ful styled-table-fh stycky-table">
            <thead>
                <tr class="twcolor">
                    <th class="topLeft">ERP</th>
                    <th>Descripcion</th>
                    <th id="rpe1"></th>
                    <th id="rpe2"></th>
                    <th id="rpe3"></th>
                    <th id="rpe4"></th>
                    <th id="rpe5"></th>
                    <th id="rpe6"></th>
                    <th id="rpe7"></th>
                    <th id="rpe8"></th>
                    <th id="rpe9"></th>
                    <th id="rpe10"></th>
                    <th id="rpe11"></th>
                    <th class="topRight" id="rpe12"></th>
                </tr>
            </thead>
            <tbody id="tableRPE"></tbody>
        </table>
    </div>
</div>
<br><br><br>
<p>Excluidas las familias  ('001 AUXILIARES', '006 EMBALAJES', '017 GRANELES Y VARIOS ALM 90')</p>