<div class="w-full mx-auto mb-4 flex justify-between items-center">
    <span>
      <input type="text" value="" class="input-ca input-ca-ba" placeholder="Buscar.." id="searchInputL" oninput="changeSearchedInputCS(event)">
      <span  class="b-top-page" onclick="clickBroomCS()"> 🧹 </span>
    </span>
    <span><select id="selectFamCS" onchange="chagedFamilyCS(event)"><option value="" selected>FAMILIAS</option></select></span>
    <h1 class="text-xl text-center">Stock actual</h1>
    <span><select id="selectSubFamCS" onchange="chagedSubFamilyCS(event)"><option value="" selected>SUBFAMILIAS</option></select></span>
    <span></span><span></span><span></span><span></span>
</div>
<div id="listCheskBoxAlmecenes">
    Almacenes:
</div>
<br>
<div class="flex flex-col gap-2 text-sm w-full">
    <div>
        <table class="w-ful styled-table-fh stycky-table">
            <thead>
                <tr class="twcolor">
                    <th class="topLeft">Fam. subfamlia</th>
                    <th>Artículo</th>
                    <th>Caj.</th>
                    <th>Und.</th>
                    <th>Kg</th>
                    <th>€/Kg PMP</th>
                    <th>Valor PMP</th>
                    <th>€/Kg UPC</th>
                    <th>Valor UPC</th>
                    <th>€/Kg Estándar</th>
                    <th>Valor Estándar</th>
                    <th>€/Kg PVP</th>
                    <th class="topRight">Valor PVP</th>
                </tr>
            </thead>
            <tbody id="tableNormalCS"></tbody>
        </table>
    </div>
</div>
<div id="divCS" class="flex flex-col gap-2 text-sm w-full rounded-md">
    <div class="bg-white p-2 border ">Cargando el contenido..</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div>
    <div class="bg-white p-2 border ">Informe de stock actual con filtros aplicados: <br>
        1. Stock en situación DISPG.<br>
        2. Familias excluidas: 001 AUXILIARES, 015 VARIOS, 016 VERDURAS, 017 GRANELES Y VARIOS. <br>
        3. Mercado: 10 NACIONAL, 30 COMPARTIDO. <br>
        4. Tipo material: 010 MATERIA PRIMA, 030 PRODUCTO FABRICADO, 040 PRODUCTO COMERCIAL. <br>

        <br>
        <br>
            €/Kg PMP - precio medio ponderado en libra
        <br>
            €/Kg UPC - último precio de compra en libra
        <br>
            €/Kg Estándar - precio estándar en libra
        <br>
            €/Kg PVP - precio venta desde precios_lista organizacion comercial NACIONAL FROXA > tarifa GENERAL NACIONAL, en el caso si no existe el precio NACIONAL FROXA se coge el REGIONAL FROXA > GENERAL REGIONAL PVP.
    </div>
</div>
<br>
<br>
<br>
