<div class="w-full mx-auto mb-4 flex justify-between items-center">
    <span> </span>
    <h1 class="text-xl text-center">Proyección listado de familias-artículos</h1>
    <span> </span>
</div>

<div class="flex flex-col gap-2 text-sm w-full">
    <div>
        <table>
            <thead>
                <tr class="twcolor">
                    <th class="topLeft px-2">Familia</th>
                    <th>Editar Familia</th>
                    <th class="topRight px-2">Añadir Artículo</th>
                </tr>
            </thead>
            <tbody id="familiaCPLF">
                <tr>
                    <td>Cargando..</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>

<div class="flex flex-col gap-2 text-sm w-full">
    <div>
        <table class="w-ful styled-table-fh stycky-table">
             <thead>
                <tr class="twcolor">
                    <th class="topLeft">Familia</th>
                    <th>Código</th>
                    <th>Artículo</th>
                    <th>Borrar</th>
                    <th>Añadir</th>
                    <th>Artículo Equivalente</th>
                    <th class="topRight">Borrar</th>
                </tr>
            </thead>
            <tbody id="articulosCPLF">
                 <tr>
                    <td>Cargando..</td>
                </tr>
            </tbody>
            </tbody>
        </table>
    </div>
</div>