<div class="space-y-8" style="display: none;" id="addNewArticleForm">
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-12 space-y-2 border border-gray-300 p-4  shadow-sm">
      <h2 class="text-lg font-semibold">Seleccionar artículo</h2>
      <div>
        <label class="block text-sm font-medium">Código artículo</label>
        <input class="w-full border px-2 py-1 rounded" value="" disabled id="articleCodeId" />
      </div>
      <div>
        <label class="block text-sm font-medium">Descripción</label>
        <input class="w-full border px-2 py-1 rounded" value="" id="descripcionCodeId" />
      </div>
      <div class="mt-4">
        <ul class="suggestions" id="suggestionsList"></ul>
      </div>
      <button class="bg-blue-700 text-white px-2  mt-4 rounded hover:bg-blue-800" onclick="saveNewAricleFunc()">Guardar</button>
    </div>
  </div>
</div>


<div class="w-full mx-auto mb-4 flex justify-between items-center">
    <span></span>
    <h1 id="tituloArticleCosts" class="text-xl text-center"></h1>
    <span></span>
</div>
<div id="costes_art_content" class="flex flex-col gap-2 text-sm w-full">
    <div class="bg-white p-2 border">Contenido aquí</div>
</div>


<style>
    .styled-table thead th {
            background-color: #4F46E5; /* Fondo verde para el encabezado */
            color: white; /* Texto blanco */
    }
    .icon_white{
        color: white;
        width: 55px!important;
        height: 55px!important;
    }
    .icon_white:hover{
        cursor: pointer;
    }

    tr{
        text-align: center!important;
    }
    .styled-table {
        width: 100%;
        border-collapse: collapse;
    }
    .styled-table th, .styled-table td {
        padding: 1px 4px;
    }
    .styled-table tbody tr:hover {
        background-color: rgb(197, 255, 197)!important;
    }
    .styled-table tbody tr:nth-of-type(even) {
        background-color: rgb(238, 251, 238);       /* #f9f9f9 */
    }
    input{
        width: 71px; border: 1px solid rgb(215, 215, 215); outline: none; background-color: white;
        text-align: center;
    }
    input:focus{
        border: 1px solid #4F46E5;
    }
    .td_hover:hover{
        cursor: pointer;
    }
    #articleCodeId, #descripcionCodeId{
        text-align: left;
    }
    li:hover{
        cursor: pointer;
        background-color: #4F46E5; color: white;
    }
</style>