
<div class="grid grid-cols-1 gap-6">
    <div class="bg-white p-4 rounded-lg border" style="padding-bottom: 31px;">
        <h4 class="font-semibold mb-2">Avisos</h4>
        <p>1. Expedientes sin precio final - sin gastos imputados en las hojas de seguimiento (diario, activado).</p>
        <p>2. Los albaranes de entrada del almacén 98 no coinciden con los albaranes de compra de los almacenes 00, 01, 02, E01, E02, E03, E04, E05, E06 y 25 (diario, activado).</p>
        <p>3. Paletas que se quedan en producción - almacén 90, código entrada PRODUCCION, tipo situación CALID (diario, activado).</p>
    </div>
</div>
<br>
<div class="grid grid-cols-1 gap-6">
    <div class="bg-white p-4 rounded-lg border" style="padding-bottom: 31px;">
        <h4 class="font-semibold mb-2">Recálculos</h4>
        <p>1. Cálculo de plazo de cobro de las facturas (diario, activado).</p>
        <p>2. Cálculo de costes en producción (diario, activado).</p>
        <p>3. Cálculo de preció estándar (mensual, activado).</p>
    </div>
</div>
<br>
<!-- Cards 
<div class="grid grid-cols-12 gap-6">
    <div class="col-span-12 md:col-span-1 bg-white p-4 rounded-lg border">
        <p class="text-gray-500">Customers</p>
        <h3 class="text-2xl font-bold">3,782</h3>
        <p class="text-green-600">+11.01%</p>
    </div>
    <div class="col-span-12 md:col-span-9 bg-white p-4 rounded-lg border">
        <p class="text-gray-500">Orders</p>
        <h3 class="text-2xl font-bold">5,359</h3>
        <p class="text-red-500">-9.05%</p>
    </div>
    <div class="col-span-12 md:col-span-2 bg-white p-4 rounded-lg border">
        <p class="text-gray-500">Monthly Target</p>
        <h3 class="text-2xl font-bold">75.55%</h3>
        <p class="text-green-600">+10%</p>
        <p class="text-sm text-gray-500 mt-1">You earn $3287 today. Keep it up!</p>
    </div>
</div>
<br>

<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="bg-white p-4 rounded-lg border">
        <h4 class="font-semibold mb-2">Monthly Sales</h4>
        <canvas id="barChart"></canvas>
    </div>
    <div class="bg-white p-4 rounded-lg border">
        <h4 class="font-semibold mb-2">Statistics</h4>
        <canvas id="lineChart"></canvas>
    </div>
</div>
-->

