<div class="p-4 space-y-8">
    <div class="grid grid-cols-12 gap-4">
        <!-- Columna izquierda: ocupa 4 de 12 -->
        <div class="col-span-12 md:col-span-4 space-y-2 border border-gray-300 p-4 shadow-sm">
            <h2 class="text-lg font-semibold">Detalle de los artículos equivalentes</h2>
            <div>
                <label class="block text-sm font-medium">Nombre grupo</label>
                <input class="w-full border px-2 py-1 rounded" id="nameGroupId" onkeydown="nameGroupPress(event)" />
            </div>
            <br>
            <ul class="suggestions" id="suggestionsList2"></ul>
        </div>
        <div class="col-span-12 md:col-span-8 space-y-4 border border-gray-300 p-4 shadow-sm">
            <h2 class="text-lg font-semibold">Listado artículos equivalentes</h2>
            <div id="listadoLinEquiv">

            </div>
            <button class="text-white px-2 mt-4 rounded twcolor" onclick="addNewArticuleGr()">+ Nuevo equivalente</button>
        </div>
    </div>

    <!--
    <div class="border border-gray-300 p-4 shadow-sm">
        <h2 class="text-lg font-semibold mb-4">Desglose de precios (actual - en este mismo instante)</h2>
        <table class="w-full table-auto border text-sm">
            <thead class="bg-gray-100">
                <tr>
                    <th class="px-2 py-1 text-left">Ingredientes</th>
                    <th class="px-2 py-1 text-left">Resumen</th>
                    <th class="px-2 py-1 text-left">% Calculo precio actual</th>
                </tr>
            </thead>
            <tbody id="desglosePrecios">

            </tbody>
        </table>
    </div>
-->
</div>