<div class="w-full mx-auto mb-4 flex justify-between items-center">
    <span> </span>
    <span>Desde</span><span><input type="date" id="inputDateFromEAL" onchange="changedDateFromEAL()"></span>
    <h1 class="text-xl text-center">📅 Expedientes importación</h1>
    <span>Hasta</span><span><input type="date" id="inputDateHastaToEAL" onchange="changedDateToEAL()"></span>
    <span> </span>
</div>
<div id="expedientes_content" class="flex flex-col gap-2 text-sm w-full">
    <div class="bg-white p-2 border">Cargando el contenido..</div>
</div>
<div style="margin-top: 777px;">
    <p>El informe está filtrado por albaranes facturados entre fechas (ultimo cambio pedido por Marisol).</p>
</div>