<div class="w-full mx-auto mb-4 flex justify-between items-center">
    <span></span>
    <span><h1 class="text-xl text-center">Listado de archivos Excel para el Dashboard Financiero</h1></span>
    <span></span>
</div>

<div class="flex flex-col gap-2 text-sm w-full">
    <div>
        <table>
            <thead>
                <tr class="twcolor">
                    <th class="topLeft px-2">Tipo</th>
                    <th>Nombre</th>
                    <th> Descargar </th>
                    <th class="topRight px-2"> Borrar </th>
                </tr>
            </thead>
            <tbody id="tableFCAE">
                <tr>
                    <td class="border px-2 py-1 text-left">2026-03-24 09:02:21</td>
                    <td class="border px-2 py-1 text-left">Plantilla de ejemplo BORRAR</td>
                    <td class="border px-2 py-1 text-center hovered"><span onclick="clickDownloadCIPE(38)">⬇️</span> </td>
                    <td class="border px-2 py-1 text-center hovered"><span onclick="clickLineTemplate(38, 'delete', 'Plantilla de ejemplo BORRAR')">🗑️</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>