<div class="w-full mx-auto mb-4 flex justify-between items-center">
    <span></span>
    <h1 class="text-xl text-center" id="pageTitle"></h1>
    <span></span>
</div>

<div class="flex flex-col gap-2 text-sm w-full">
    <div>
        <table  class="w-ful styled-table-fh stycky-table">
            <thead>
                <tr class="twcolor">
                    <th class="topLeft">Cliente</th>
                    <th>Pedido</th>
                    <th>Artículo</th>
                    <th>Cantidad</th>
                    <th>Pres.</th>
                    <th>Kg</th>
                    <th>Caj. Calc.</th>
                    <th>Pal. Orient.</th>
                    <th>Pal. Input</th>
                    <th class="topRight"></th>
                </tr>
            </thead>
            <tbody id="logisticsDetails"></tbody>
        </table>
    </div>
</div>

