<div class="w-full mx-auto mb-4 flex justify-between items-center">
    <span></span>
    <h1 class="text-xl text-center">Listado de últimas cargas Nacional</h1>
    <span></span>
</div>
<div class="flex flex-col gap-2 text-sm w-full">
    <div>
        <table class="w-ful styled-table-fh stycky-table">
            <thead>
                <tr class="twcolor">
                    <th class="topLeft">Id</th>
                    <th>Nombre camión</th>
                    <th>Semana</th>
                    <th>Fecha</th>
                    <th>Pal. Orient.</th>
                    <th class="topRight">Pal. Input</th>
                </tr>
            </thead>
            <tbody id="list22Loads"></tbody>
        </table>
    </div>
</div>
