<div class="w-full mx-auto mb-4 flex justify-between items-center">
    <span> </span> <span> </span> <span> </span>
    <span>Desde</span><span><input type="date" id="inputFromLCHC" onchange="changedLCHC()"></span>
    <h1 class="text-xl text-center">Repaso de cierre de hojas de carga</h1>
    <span>Hasta</span><span><input type="date" id="inputToLCHC" onchange="changedLCHC()"></span>
    <span>
        <select id="serieLCHCId" class="border border-gray-300 rounded-md" onchange="changeSerieLCHC(this.value)">
            <option value="all" selected>Todas las series 01, 02, 03, 04 </option>
            <option value="01">01 - NACIONAL</option>
            <option value="02">02 - REGIONAL</option>
            <option value="03">03 - CUBA</option>
            <option value="04">04 - EXPORTACION</option>
        </select>
    </span>
    <span>
        <select id="stateLCHCId" class="border border-gray-300 rounded-md" onchange="changeState(this.value)">
            <option value="all_states" selected>Todos los estados </option>
            <option value="Facturado">Facturado</option>
            <option value="Preparado">Preparado</option>
            <option value="Pendiente">Pendiente</option>
            <option value="Revisar">Revisar</option>
        </select>
    </span>
</div>

<div class="flex flex-col gap-2 text-sm w-full">
    <div>
        <table class="w-ful styled-table-fh stycky-table">
            <thead>
                <tr class="twcolor">
                    <th class="topLeft">Fecha</th>
                    <th>Serie/Número</th>
                    <th>Cliente</th>
                    <th>Código</th>
                    <th>Descripción</th>
                    <th>KG Preparado</th>
                    <th>KG Pedido</th>
                    <th>KG Dif.</th>
                    <th class="topRight">Estado</th>
                </tr>
            </thead>
            <tbody id="tableLCJC"></tbody>
        </table>
    </div>
</div>