<div class="w-full mx-auto mb-4 flex justify-between items-center">
    <span></span>
    <h1 class="text-xl text-center" id="pageTitle">Listado de pedidos viaje </h1>
    <span></span>
</div>
<div class="flex flex-col gap-2 text-sm w-full">
    <div style="overflow-x: auto; width: 100%;">
        <table class="w-full table-auto border border-gray-300 text-sm">
            <thead>
                <tr class="twcolor">
                    <th class="topLeft">Nombre camión</th>
                    <th>Cliente</th>
                    <th>Pedido</th>
                    <th>Albaran</th>
                    <th>Artículo</th>
                    <th>Cantidad</th>
                    <th>Presentación</th>
                    <th>Kg</th>
                    <th class="topRight"></th>
                </tr>
            </thead>
            <tbody id="blockTravelDetail"></tbody>
        </table>
    </div>
</div>