<div class="space-y-8" style="display: none;" id="addNewArticleForm">
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-12 space-y-2 border border-gray-300 p-4  shadow-sm">
      <h2 class="text-lg font-semibold">Seleccionar artículo</h2>
      <div>
        <label class="block text-sm font-medium">Código artículo</label>
        <input class="w-full border px-2 py-1 rounded" value="" disabled id="articleCodeId" />
      </div>
      <div>
        <label class="block text-sm font-medium">Descripción</label>
        <input class="w-full border px-2 py-1 rounded" value="" id="descripcionCodeId" />
      </div>
      <div class="mt-4">
        <ul class="suggestions" id="suggestionsList"></ul>
      </div>
      <button class="text-white px-2  mt-4 rounded bgadmin" onclick="saveNewAricleFunc()">Guardar</button>
    </div>
  </div>
  <br><br><br>
</div>


<div class="w-full mx-auto mb-4 flex justify-between items-center">
    <span>
      <input type="text" value="" class="input-ca input-ca-ba" placeholder="Buscar artículo.." id="searchArticleInput" oninput="changeSearchedArticle(event)">
      <span  class="b-top-page" onclick="cleanArticleSearch()"> 🧹 </span>
    </span>
    <h1 id="tituloArticleCosts" class="text-xl text-center"></h1>
    <span> </span> <span> </span> <span> </span>
</div>
<div id="costes_art_content" class="flex flex-col gap-2 text-sm w-full rounded-md">
    <div class="bg-white p-2 border ">Cargando el contenido..</div>
</div>

