<div class="w-full mx-auto mb-4 flex justify-between items-center">
    <span></span>
    <h1 class="text-xl text-center">Vacaciones de personal</h1>
    <span></span>
</div>

<div class="flex flex-col gap-2 text-sm w-full">
    <div>
        <table>
            <thead>
                <tr class="twcolor">
                    <th class="topLeft px-2">Nombre</th>
                    <th class="topRight px-2"> Dias vac. pendientes </th>
                </tr>
            </thead>
            <tbody id="tableRRHH0">
    
            </tbody>
        </table>
    </div>
</div>
<style>
    th{
        margin-left: 11px;
        padding-right: 11px;
    }
</style>