<div class="w-full mx-auto mb-4 flex justify-between items-center">
    <span></span>
    <h1 class="text-xl text-center">Informe de bloqueos</h1>
    <span></span>
</div>
<div class="flex flex-col gap-2 text-sm w-full">
    <div style="overflow-x: auto; width: 100%;">
        <table class="w-full table-auto border border-gray-300 text-sm">
            <thead>
                <tr class="twcolor">
                    <th class="topLeft">Almacén</th>
                    <th>Situación</th>
                    <th>Cód._Entrada</th>
                    <th>Lote</th>
                    <th>Descripción</th>
                    <th>Kg</th>
                    <th>Palet</th>
                    <th class="topRight">Observaciones</th>
                </tr>
            </thead>
            <tbody id="blockTable"></tbody>
        </table>
    </div>
</div>
