<div class="w-full mx-auto mb-4 flex justify-between items-center">
    <input type="button" value="<" class="bg-indigo-500 hover:bg-indigo-600 text-white font-bold py-0 px-2 rounded mx-2" onclick="cambiarMes(-1)">
    <input type="text" placeholder="Buscar artículo, lote" class="input-ca input-ca-ccl" onchange="changeTOF(event)">
    <h1 id="tituloMes" class="text-xl text-center"></h1>
    <span> </span><span> </span>
    <input type="button" value=">" class="bg-indigo-500 hover:bg-indigo-600 text-white font-bold py-0 px-2 rounded mx-2" onclick="cambiarMes(1)">
</div>

<div id="calendario" class="grid grid-cols-7 gap-2 text-sm w-full"></div>
<br>
<br>
<br>
<br>
<br>
<br>

