*{
    margin: 0; padding: 0;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "Monaco", "Ubuntu Mono", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", "Source Code Pro", monospace;
    font-size: 13px; font-weight: 500; 
}
.conexion{
    position: fixed; bottom: 1px; left: 1px;
}
.size18{
    font-size: 18px;
    color: black;
}
.hovered{
    cursor: pointer;
}